<button class="hiddenFiles btn btn-default">Show Hidden Files</button>

<div class="fileDropRoot" data-path="{{path}}">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="dir-header">{{path}}</div>
		</div>
			<div class="dir-entries white">
				<table cellspacing="1" id="sortme" class="tablesorter table table-condensed">
					<thead>
						<tr>
							<th class="col-md-6 table-header">File Name</th>
							<th class="col-md-3 table-header">Date Modified</th>
							<th class="col-md-2 table-header">Size</th>
							<th class="col-md-1 no-arrows">Delete</th>
						</tr>
					</thead>
					<tbody>
					{{#each entries}}
							<tr>
								{{#if isDirectory}}
									{{#unless isRoot}}
						<!-- NonRemote files -->
						<!-- NonRoot directories that are not Remote: coming from local machine -->
									<td class="dir-entry dir" data-remote="{{isRemote}}" data-path="{{path}}" data-hidden="{{isHidden}}">
									<span class="glyphicon glyphicon-folder-open"></span>
									<a class="display-folder-name name" href="#"  data-remote="{{isRemote}}" data-path="{{path}}" data-title="{{name}}" data-toggle="tooltip" title="{{name}}">{{prettyName}}</a></td>
									<td class="dir-entry dir" data-remote="{{isRemote}}" data-path="{{path}}" data-hidden="{{isHidden}}"></td>
									<td class="dir-entry dir" data-remote="{{isRemote}}" data-path="{{path}}" data-hidden="{{isHidden}}"></td>
									<td class="dir-entry dir" data-remote="{{isRemote}}" data-path="{{path}}" data-hidden="{{isHidden}}"></td>
									{{else}}
								<!--Root directory that is not Remote: coming from local machine   -->
									<tbody class="tablesorter-infoOnly">
										<td class="dir-entry dir" data-remote="{{isRemote}}" data-path="{{path}}" data-hidden="{{isHidden}}">
										<a class="display-folder-name" href="#" data-title="" data-path="{{path}}">{{name}}</a></td>
									</tbody>
									{{/unless}}
								{{else}}

								<!-- NonDirecotry files that are not Remote: coming from local machine  -->
									<td class="dir-entry file" data-remote="{{isRemote}}" data-path="{{path}}" data-hidden="{{isHidden}}" data-blobsize="{{size}}">
										<a href="{{url}}" class="name" data-toggle="tooltip" data-title="{{name}}" title="{{name}}">{{prettyName}}</a></td>
									<td data-hidden="{{isHidden}}" data-remote="{{isRemote}}" ><span class="modified">{{prettyDate}}</span></td>
									<td data-hidden="{{isHidden}}" data-remote="{{isRemote}}" data-text="{{size}}" >{{prettySize}}</td>
									<td data-hidden="{{isHidden}}" data-remote="{{isRemote}}" ><a href="#"  data-remote="{{isRemote}}" data-path="{{path}}" data-action="delete">
									<span class="glyphicon glyphicon-remove"></span>
									</a></td>

							{{/if}}
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
 		var table = $("table").find('tr');
    $("table").tablesorter();

			$('#azureStorage button').click(function(){
			if($('[data-remote="true"][data-hidden="true"]').is(":hidden")){
		  	$('#azureStorage button').text("Hide Hidden Files")
			} else {
			  $('#azureStorage button').text("Show Hidden Files")
			}
	  	$('[data-remote="true"][data-hidden="true"]').slideToggle();
		});

			$('#localFiles button').click(function(){
			if($('[data-remote=""][data-hidden="true"]').is(":hidden")){
		  	$('#localFiles button').text("Hide Hidden Files")
			} else {
			  $('#localFiles button').text("Show Hidden Files")
			}
	  	$('[data-remote=""][data-hidden="true"]').slideToggle();
		});


		{{#unless supportsHiddenFiles}}
			$('button.hiddenFiles').hide();
		{{/unless}}

		$('.name').each(function(){
			if($(this).text() !== $(this).data('title')) {
				$(this).tooltip();
			}
		});
	});

</script>
