<div class="fileDropRoot" data-path="{{path}}">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="dir-header">{{path}}</div>
		</div>
			<div class="dir-entries white">
				<table cellspacing="1" id="sortme" class="tablesorter table table-condensed">
					<thead>
						<tr>
							<th class="col-md-6 table-header">File Name</th>
							<th class="col-md-3 table-header">Date Modified</th>
							<th class="col-md-2 table-header">Size</th>
							<th class="col-md-1 no-arrows">Delete</th>
						</tr>
					</thead>
					<tbody>
					{{#each entries}}
						<tr>
							{{#if isDirectory}}
								{{#unless isRoot}}
									<td class="dir-entry dir" data-path="{{path}}" data-hidden="{{isHidden}}">
									<span class="glyphicon glyphicon-folder-open"></span>
									<a class="display-folder-name" href="#" data-path="{{path}}">{{name}}</a></td>
									<td class="dir-entry dir" data-path="{{path}}" data-hidden="{{isHidden}}"></td>
									<td class="dir-entry dir" data-path="{{path}}" data-hidden="{{isHidden}}"></td>
									<td class="dir-entry dir" data-path="{{path}}" data-hidden="{{isHidden}}"></td>
								{{else}}
									<tbody class="tablesorter-infoOnly">
										<td class="dir-entry dir" data-path="{{path}}" data-hidden="{{isHidden}}">
										<a class="display-folder-name" href="#" data-path="{{path}}">{{name}}</a></td>
									</tbody>
								{{/unless}}
							{{else}}
								<td class="dir-entry file" data-path="{{path}}" data-hidden="{{isHidden}}" data-blobsize="{{size}}">
								{{#if isRemote}}
									<a href="{{url}}">{{name}}</a></td>
								{{else}}
									<a href="#">{{name}}</a></td>
								{{/if}}
								<td data-hidden="{{isHidden}}" ><span class="modified">{{prettyDate}}</span></td>
								<td data-hidden="{{isHidden}}" data-text="{{size}}" >{{prettySize}}</td>
								<td data-hidden="{{isHidden}}"><a href="#" data-path="{{path}}" data-action="delete">
								<span class="glyphicon glyphicon-remove"></span>
								</a></td>
							{{/if}}
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
 		var table = $("table").find('tr');
    $("table").tablesorter();
		$('[data-hidden="true"]').hide();

		if (navigator.platform.substring(0,3)=="Win"){
			$('button.hiddenFiles').hide();
			$('#azureStorage').css("padding-top", 0);
		};
	});

</script>
