<div class="fileDropRoot" data-path="{{path}}">
	<div class="dir-header">{{path}}</div>
	<div class="dir-entries">
		{{#each entries}}		 
			{{#if isDirectory}}
				<div class="dir-entry dir" data-path="{{path}}" data-hidden="{{isHidden}}"><a href="#" data-path="{{path}}">{{name}}</a></div>
			{{else}}
				<div class="dir-entry file" data-path="{{path}}" data-hidden="{{isHidden}}" data-blobsize="{{size}}">
					<a href="{{url}}">{{name}}</a><span class="size"></span><span class="big-size"></span><span class="modified">{{mtime}} • </span>
					
					<a href="#" data-path="{{path}}" data-action="delete"><span class="glyphicon glyphicon-remove"></span></a>
					
				</div>
			{{/if}}
		{{/each}}
	</div>
</div>

<script>
	$(document).ready(function() {
		$('[data-hidden="true"]').hide();
	});
</script>