<div class="fileDropRoot" data-path="{{path}}">
	<div class="dir-header">{{path}}</div>
	<div class="dir-entries white">
		<table cellspacing="1" id="sortme" class="tablesorter table table-striped">
			<thead><tr><th>File Name</th><th>Size</th></tr></thead>
			<tbody>
		{{#each entries}}
		<tr>
			{{#if isDirectory}}
				<td class="dir-entry dir" data-path="{{path}}" data-hidden="{{isHidden}}"><a href="#" data-path="{{path}}">{{name}}</a></td>
				<td class="dir-entry dir" data-path="{{path}}" data-hidden="{{isHidden}}">10</td>
			{{else}}
				<td class="dir-entry file" data-path="{{path}}" data-hidden="{{isHidden}}">
					<a href="{{url}}">{{name}}</a>
					<a href="#" data-path="{{path}}"><i class="icon-remove"></i></a>
				</td>
				<td class="dir-entry file" data-path="{{path}}" data-hidden="{{isHidden}}">11</td>
			{{/if}}
			</tr>
		{{/each}}
	</tbody>
	</table>
	</div>
</div>

<script>
	$(document).ready(function() {

    // call the tablesorter plugin

    $("table").tablesorter();
		$('[data-hidden="true"]').hide();

	});
</script>
