<div class="fileDropRoot" data-path="{{path}}">
	<div class="dir-header">{{path}}</div>
	<div class="dir-entries">
		{{#each entries}}
			{{#if isDirectory}}
				<div class="dir-entry dir" data-path="{{path}}" data-hidden="{{isHidden}}">
					<a href="#" data-path="{{path}}">{{name}}</a>
				</div>
			{{else}}
				<div class="dir-entry file" data-path="{{path}}" data-hidden="{{isHidden}}">
					<a href="{{url}}">{{name}}</a>

					<span class="size">{{size}}</span>
					<span class="modified">{{mtime}} • </span>
					<a href="#" data-path="{{path}}"><i class="icon-remove"></i></a>
				</div>
			{{/if}}
		{{/each}}
	</div>
</div>
